/*--------------------HEAD--------------------*/
body {
  margin: 0px;
  padding: 0px;
}

/*--------------------NAME TITLE--------------------*/
.hname {
  font-family: 'Raleway', Arial, sans-serif;
  color: #8d8d8d;
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 10px;
  transition: all 500ms linear;
  margin: 0;
  margin-left: auto;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
  font-size: 200%;
}

.hname:hover {
  letter-spacing: 15px;
}

.h3 {
  height: 10em;
  position: relative;
  background-image: url("images/split_croatia_beach.JPG");
  background-repeat: no-repeat;
  background-size: 100%;
 
}


/*--------------------HEADER--------------------*/

header {
  width: 100%;
  height: 650px;
}

#header_pic {
  background-color: white;
  height: 650px;
}

#header_nav {
  width: 100%;
  background-color:  white;
  height: 50px;
  z-index: 5;
}

.fixed {
  top: 0px;
  position: fixed;
}


/*--------------------MY NAVIGATION--------------------*/

.navi {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}

.navi * {
  box-sizing: border-box;
}

.navi li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  padding: 0;
}

.navi a {
  padding: 0.5em 0;
  color: #686868;
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
}

.navi a:before {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  top: 0;
  display: block;
  height: 3px;
  width: 0%;
  content: "";
  background-color: lightblue;
}

.navi a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  left: 0;
  top: 0;
  padding: 0.5em 0;
  position: absolute;
  content: attr(data-hover);
  color: black;
  white-space: nowrap;
  max-width: 0%;
  overflow: hidden;
}

.navi a:hover:before,
.navi .current a:before {
  opacity: 1;
  width: 100%;
}

.navi a:hover:after,
.navi .current a:after {
  max-width: 100%;
}


/*--------------------NAVIGATION--------------------*/

nav {
  width: 100%;
  height: 50px;
  text-align: center;
  overflow: hidden;
  margin: auto;
}


/*--------------------CONTENT--------------------*/

#wrapper {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 0;
}

#Home,
#About,
#Gallery,
#Literature,
#Contact {
  text-align: center;
  color: #222222;
  font-family: 'source-sans';
  height: 300px;
  padding-top: 50px;
}


/*-----------------HOME CONTENT--------------------*/
.bgimg-0, .bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.9;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.bgimg-0 {
  background-image: url("images/split_croatia_beach.JPG");
  min-height: 400px;
}

.bgimg-2{
  background-image: url("images/split_croatia_beach.JPG");
  min-height: 400px;
}


.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  /*font: 20px "Lato", sans-serif;*/
  font-family: 'PT Sans', Arial, sans-serif;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font: 14px "Lato", sans-serif;
  color: #b3b3b3;
  margin-bottom: 0px;
}

/*STYLES FOR PHOTOS PAGE*--------*/
body {
  background: #f9f9f9;
  color: #465665;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.wrapper {
  width: 92.5%;
  padding: 1em;
}

.title {
  font-weight: 700;
}

.desc {
  font-size: 1em;
  font-style: italic;
  font-family: Georgia, serif;
}

.title,
.desc,
.intro {
  text-align: center;
}

a {
  color: #5b7083;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.intro {
  margin: 1.75em 0 .75em;
  border-bottom: 3px double rgba(0, 0, 0, 0.05);
  margin-bottom: 1.75em;
}
.intro a {
  opacity: .7;
}
.intro a:hover {
  opacity: 1;
}
.intro h3 {
  font-size: .825em;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  margin: .25em .75em .75em;
}
.intro h3 a {
  font-weight: 400;
}

.back-to-article {
  font-weight: 700;
  display: block;
  margin: 2em 0 0;
  padding: 1.25em;
  text-align: center;
  color: #CAD0DC;
  border: 3px solid #D1D8DE;
}
.back-to-article:hover {
  color: #465665;
  border-color: #5b7083;
}

.masonry {
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -moz-column-gap: 30px;
  -webkit-column-gap: 30px;
  column-gap: 10px;
  -moz-column-fill: initial;
  -webkit-column-fill: initial;
  column-fill: initial;
}
.masonry .brick {
  margin-bottom: 10px;
}
.masonry .brick img {
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.masonry .brick:hover img {
  opacity: .75;
}
.masonry.bordered {
  -moz-column-rule: 1px solid #eee;
  -webkit-column-rule: 1px solid #eee;
  column-rule: 1px solid #eee;
  -moz-column-gap: 50px;
  -webkit-column-gap: 50px;
  column-gap: 50px;
}
.masonry.bordered .brick {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #eee;
}
.masonry.gutterless {
  -moz-column-gap: 0;
  -webkit-column-gap: 0;
  column-gap: 0;
}
.masonry.gutterless .brick {
  margin-bottom: 0;
}

.span {
  -moz-column-span: all;
  -webkit-column-span: all;
  column-span: all;
  *margin: 30px 0;
}

@media only screen and (min-width: 1024px) {
  .desc {
    font-size: 1.25em;
  }

  .intro {
    letter-spacing: 1px;
  }

  .wrapper {
    width: 80%;
    padding: 2em;
  }

  .masonry {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .wrapper {
    width: 85%;
    padding: 1.5em;
  }

  .masonry {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
