text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.node.hovered circle {
  fill: #C1CCCF;
}

.node circle {
  fill: #999;
}

.node text {
  font: 10px sans-serif;
}

.node--internal circle {
  fill: #555;
}

.node--leaf circle {
  fill: #ccc;
}

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
}

.node.hovered circle {
  fill: #C1CCCF;
}

#editShirtTitleForm {

  width: 200px;
  height: 100px;
  display: none; /* hide by default */

}

#parent {
  height: 500px;
  position: relative;
  float: right;
}

#deleteBlog {
  height: 100px;
  width: 200px;
  display: none; /* hide by default */

}

#addCommentForm {
  height: 100px;
  width: 200px;
  display: none; /* hide by default */
  float: right;

}
